@media screen and (max-width: 576px) {
    .section-content-cart {
        p {
            font-size: small;
        }
        dt {
            font-size: small;
        }
        label {
            font-size: small;
        }
        button {
            font-size: small;
        }
        .container {
            padding: 10px !important;
        }
    }  
} 