.container-favoris-products {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    max-height: 450px;
    .favoris-product {
        margin: 10px;
        border: 1px rgb(221, 212, 212) solid;
        padding: 10px;
        border-radius: 5px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        img {
            height: 100px;
            border-radius: 5px;
        }
        .infos-product {
            .infos-price {
                color: #007bff;
            }
        }
        .buttons-favoris-product {
            display: flex;
            flex-direction: column;
            button {
                margin: 5px;
            }
        }
    }
}