.page-profil-container {
    margin-top: 50px;
    .page-profil {
        height: 90vh;
        overflow: hidden;
        .home {
            margin-left: -1px;
        }
        i {
            margin-right: 5px;
        }
    }
    
    .my-order {
        overflow-y: scroll;
        max-height: 530px;
        button {
            width: 100%;
            margin: 5px;
        }
        .productOpinionOK {
            padding: 5px;
            border: solid 1px rgb(170, 163, 163);
            color: rgb(170, 163, 163);
            margin-left: 5px;
            text-align: center;
            cursor: pointer;
            border-radius: 5px;
        }
    }
}


