.page-profil-container {
    margin-top: 50px;
    .page-profil {
        height: 90vh;
        overflow: hidden;
        .home {
            margin-left: -1px;
        }
        i {
            margin-right: 5px;
        }
    }
    
    .my-order {
        overflow-y: scroll;
        max-height: 530px;
        button {
            width: 100%;
            margin: 5px;
        }
        .productOpinionOK {
            padding: 5px;
            border: solid 1px rgb(170, 163, 163);
            color: rgb(170, 163, 163);
            margin-left: 5px;
            text-align: center;
            cursor: pointer;
            border-radius: 5px;
        }
    }
}

.addresses-list-user {
    overflow-y: scroll;
    max-height: 380px;
}

.image-profil-input {
    display: none;
}

.personal-data {
    p {
        margin: 0;
    }
}

@media screen and (max-width: 768px) {
    .my-order {
        margin: 0;
        p {
            font-size: small;
        }
        .card-order {
            margin: -10px !important;
            margin-bottom: 30px !important;
        }
    }

    .div-favoris {
        .container-favoris-products {
            margin: -20px;
        }
    }
}

@media screen and (max-width: 513px) {
    .addresses-list-user {
        overflow-y: scroll;
        max-height: 350px;
    }
}