.section-gallery {
    header {
        .div-categorys {
            position: relative;
            .div-category {
                height: 25px;
                width: auto;
                padding: 15px;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 5px; 
            }
            .div-list-categorys {
                position: absolute;
                width: auto;
                border-radius: 5px;
                background-color: #eef1f5;
                z-index: 1;
                div {
                    padding: 10px;
                    border-radius: 5px;
                    &:hover {
                        background-color: rgb(192, 205, 228);
                    }
                    img {
                        margin-left: 10px;
                        height: 20px;
                    }
                }
            }
        }
        div {
            i { 
                cursor: pointer;
            }
        }
    }
    div {
        nav {
            width: 20%;
            background-color: aqua; 
        }
        .inside-gallery {
            width: 100%;
            margin: 0px !important;
            .product-menu-list {
                cursor: pointer;
                position: relative;
                border: 1px solid rgb(221, 212, 212);
                display: flex;
                flex-wrap: nowrap;
                margin: 10px;
                .p-elipsis {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap; 
                }
                img {
                    height: 150px;
                }
                .div-buttons {
                   position: absolute;
                   bottom: 10px;
                   right: 10px;
                }
            }
            .card-product-grid {
                margin-left: 10px;
                img {
                    max-height: 300px;
                    object-fit: contain;
                }
            }
        }
    }
}


@media screen and (max-width: 576px) {
    .section-gallery {
        p,a,.p-price {
            font-size: small; 
        }
        div {
            .inside-gallery {
                .product-menu-list {
                    img {
                        height: 70px;
                    }
                }
            }
        }
    }   
}