  .modal-worldmap {
    position: fixed;
    top: 0;
    left: 0;
    //width: 105vw;
    width: 100%;
    //height: 104vh;
    height: 100%;
    z-index: 1040;
    background-color: rgba(0, 0, 0, 0.5);
    animation: myAnimHome 1s ease 0s 1 normal forwards;
      .modals {
        z-index: 1060;
        left: 10%;
        top: 5%;
        background: #fff; 
        position: fixed;
        width: auto;
        height: auto;
        //margin: auto;
        border-radius: 5px;
        max-width: 80%;
        padding: 1rem;
        .modal-header {
          display: flex;
          justify-content: space-between;
          div {
            display: flex;
            align-items: center;
            h2 {
              margin-right: 10px;
            }
          }
          .flag-modal {
            width: 60px;
            border: 1px rgb(0, 0, 0) solid;
          }
        }
        .modal-body {
          display: flex;
          .img-map {
            max-height: 450px !important;
          }
          .body-country-info {
            margin-left: 15px;
            background-color: rgb(235, 226, 226);
            padding: 30px;
            border-radius: 5px;
            max-height: 450px;
            overflow-y: scroll;
            .div-price-product {
                text-align: end;
                margin-top: 30px;
                .price-product {
                    font-size: 30px;
                    font-weight: bold;
                    margin: 0;
                }
                .price-info {
                    font-size: small;
                }
            }
            .div-buttons-product {
                display: flex;
                text-align: end;
                flex-direction: column;
                align-items: end;
                button {
                    width: 40%;
                    margin-top: 10px;
                }
                .btn-cart-product {
                    i {
                        margin-left: 10px;
                    }
                }
            }
            .users-opinions {
              margin-top: 20px;
              .users-stars {
                display: flex;
                .span-date {
                  text-align: end; 
                }
              }
            }
          }
        }
      } 
  } 
  
  .modal-close-button {
    font-size: 1.4rem;
    font-weight: 700;
    color: #000; 
    cursor: pointer;
    border: none;
    background: transparent;
  }
  
  .div-lightbox {
    
    .rigthImage {
      font-size: 40px;
    }
    .leftImage {
      font-size: 40px;
    }
  }