nav {
  .img-profil {
    height: 35px;
    width: 35px;
    margin-right: 5px;
    border: 1px white solid;
  }
}

.nav-header {
    background: -webkit-linear-gradient(left, #0072ff, #00c6ff);
}

.nav-footer {
    background: -webkit-linear-gradient(left, #0072ff, #00c6ff);
}

@media screen and (max-width: 513px) {
  .nav-footer {
    small {
      font-size: x-small;
    }
    i {
      margin-right: 10px !important;
    }
  }
}