.list-categorys-div {
    max-height: 550px;
    overflow-y: scroll;
    div {
        p {
            font-size: smaller;
            margin: 0;
        }
        hr {
            margin: 0;
        }
        label {
            font-size: smaller;
        }
        button {
            font-size: smaller;
        }
    }
} 

@media screen and (max-width: 700px) {
    .list-categorys-div {
        max-height: 550px;
        overflow-y: scroll;
        div {
            p {
                font-size: smaller;
            }
            label {
                font-size: smaller;
            }
            button {
                font-size: smaller;
            }
        }
    }  
}