.list-orders-admin {
    .title-order-admin {
        margin-top: 30px;
        display: flex;
        justify-content: space-between; 
        .commande-total {
            width: 50%;
            display: flex;
            justify-content: start;
            .total {
                margin-left: 100px;
            }
        }
        .user-action {
            width: 50%;
            display: flex;
            justify-content: space-between;
            .action {
                margin-right: 60px;
            }
        }
    }
    .total-list-order {
        overflow-y: scroll;
        max-height: 340px;
        margin-right: 20px;
        .p-nameproduct {
            margin-bottom: -3px ;
        }
        .order-admin {
            display: flex;
            justify-content: space-around;
            .p-nameproduct {
                margin-bottom: -3px ;
            }
        }
        .infos-order-number-total {
            display: flex;
            justify-content: space-between; 
            .infos-name {
                width: 50%;
                display: flex;
                justify-content: start;
                .total-price {
                    margin-left: 60px;
                }
            }
            .infos-user {
                width: 50%;
                display: flex;
                justify-content: space-between;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .list-orders-admin {
        .title-order-admin {
            display: none !important;
        } 
        .total-list-order {
            margin-right: 0;
            .infos-order-number-total {
                display: flex;
                flex-direction: column;
                .infos-name {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    .total-price {
                        margin-right: 40px;
                    }
                }
                .infos-user {
                    margin-top: 15px;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }  
} 

@media screen and (max-width: 670px) {
    .list-orders-admin {
        p {
            font-size: small;
        }
        .total-list-order {
            .infos-order-number-total {
                .infos-name {
                    .total-price {
                        margin-right: 15px;
                    }
                }
            }    
        }
    }  
}