.list-product-admin {
    .div-search-button-add {
        display: flex;
        justify-content: space-between;
        .add-product-admin {
            height: 25px;
            width: 25px;
            border-radius: 50%;
            background-color: green;
            color: white;
            i {
                margin-left: 6px;
            }
        }
    }
    .list-products-admin {
        overflow-y: scroll;
        max-height: 530px;
        .product-admin {
        display: flex;
        justify-content: space-between;
        
        }
    }
}

.modal-add-product-visible {
    display: block;
}

.modal-add-product-none {
    display: none;
}

.modal-add-product-images-visible {
    display: block;
}

.modal-add-product-images-none {
    display: none;
}

.span-text-infos-update-product {
    font-size: 12px;
}